@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");
* {
    box-sizing: border-box;
}

body {
    background-color: #eaeaea;
    font-size: 2em;
    padding: 0 2rem;
    color: #2b2b2b;
    font-family: 'Cascadia Code', sans-serif;
}

h1 {
    text-align: center;
}

a {
    color: #2b2b2b;
    text-decoration:  none;
}

a:hover {
    color: teal;
}


.list {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px 1%;
}

.list-item{
    display: block;
    background-color: #fff;
    text-align: center;
    width: 24%;
    padding: 10px;
    border-radius: 2px;
}

.list-img {
    text-align: center;
}

.img-fluid {
    width: 100%;
    max-width: 150px;
}

.text-sm {
    font-size: 0.5em;
}

@media only screen and (max-width: 768px) {
    .list-item{
        width: 100%;
    }
}