.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20%;
}

img {
    width: 100%;
}

.relative {
    position: relative;
    border: 2px solid red;
}

.img-1::before {
    content: "";
    background-color: khaki;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    left:0%;
    z-index: -1;
}

.img-2::before {
    content: "";
    background-color: khaki;
    width: 100%;
    padding-bottom: 100%;
    position: absolute;
    border-radius: 50%;
    top: -25%;
    left:30%;
    z-index: -1;
}


.img-3::before {
    content: "";
    background-color: khaki;
    width: 100%;
    padding-bottom: 100%;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left:50%;
    z-index: -1;
}

.img-4::before {
    content: "";
    background-color: khaki;
    width: 100%;
    padding-bottom: 100%;
    position: absolute;
    border-radius: 50%;
    top:  0%;
    left: 0%;
    z-index: -1;
    transform: translate(10%, 5%);
}

.img-5::before {
    content: "";
    background-color: khaki;
    width: 100%;
    padding-bottom: 100%;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left:50%;
    z-index: -1;
    transform: scale(.5);
}